.textTitleColor {
    color: #696969;
}

.textSubTitleColor {
    color: #696969;
}

.swiper-slide .textTitleColor {
    color: #FFFFFF;
}

.swiper-slide .textSubTitleColor {
    color: #FFFFFF;
}

.lightColor {
    color: #FFFFFF !important;
}

.darkColor {
    color: #696969 !important;
}