<div class="col-item"  id="footerContainer">
    <table >
        <tr>
            <td colspan="2">
                <p>
                    Support phone: <a class="contactLink" href=tel:+12345>+12345</a><br>
                    Support email: <a class="contactLink" href=btcjsapiSendEmail?emailRecipients=support%40bigtincan.com>support@bigtincan.com</a>
                </p>
            </td>
        </tr>
        <tr>
            <td >
                <p>footer Text</p>
            </td>
            <td >
                <img src="img/logo.png"/>
            </td>
        </tr>
    </table>
</div>