#footerContainer td{
    padding: 0px 10px;
}

#footerContainer a {
    text-decoration: none;
}

#footerContainer :not(.contactLink) {
    color: inherit !important;
}

#footerContainer {
    font-size: 13px;
    color: #b5b5b5;
}
