<div class="templateSection">
    <!-- top story pane template -->
    <div id="channelTemplate" class="slideContentBlock2 swiper-slide slideStyle1">
        <img class="image"/>
        <div class="overlay">
            <div class="title textTitleColor twoLineTruncate">Title</div>
             <div class="subtitle textSubTitleColor truncate">Subtitle</div>
        </div>
    </div>
</div>

<div class="col-item" id="channelContainer" >
    <section>
        <h2>Channels</h2>
    </section>

    <div class="swiper-container" id="channelSwiper" style="height: 150px" >
        <div class="swiper-wrapper">
        </div>
    </div>

    <script>

    var channelWidget = new function () {

        var itemPrefix = "channelPrefix";
        var templateEle = $('#channelTemplate');
        var targetContainer =  $('#channelSwiper .swiper-wrapper');
        var widgetName = 'channelWidget';
        var targetEntityName = 'Channel';
        var specialTileClassName = "channelTile";
        var channelSwiper = null;
        var autoUpdateInterval = null;
        var autoUpdateIntervalTime = 60000; // update every min

        function setUpSwiper () {
            if (channelSwiper) {
                channelSwiper.reInit();
                return;
            }

            var slidesPerView =  'auto';
            channelSwiper = new Swiper('#channelSwiper', {
                slidesPerView: slidesPerView,
                offsetPxBefore : 15,
                resizeReInit : true,
                onFirstInit: function () {
                    truncateAllTwoLineText();
                },
                onInit : function (swiper) {
                    truncateAllTwoLineText();
                }
            });
        }

        function truncateAllTwoLineText (){
            $('.twoLineTruncate').each(function() {
                var truncateIndex = 35;
                var entryTitle = $(this).text().trim();
                if (entryTitle.length > truncateIndex) {
                    var chopCharacter = entryTitle.trim().substring(0, truncateIndex) + "…";
                    $(this).text(chopCharacter);
                }
            });
        }

        var startWidget = function () {
            startLoopProcess();
            document.addEventListener("visibilitychange", function () {
                if (document.hidden) {
                    stopLoopProcess();
                } else {
                    startLoopProcess();
                }
            }, false);
        }

        var stopLoopProcess = function () {
            window.clearInterval(autoUpdateInterval);
        }

        var widgetUpdate = function() {
            BTCJSAPIHtmlManager.makeRequest("btcjsapiGetList?entityName="+targetEntityName+"&fullRelationshipRecord=YES&jsListener="+widgetName+".dataDidFetch");
        }

        var startLoopProcess = function () {
            widgetUpdate();
            autoUpdateInterval = setInterval(function () {
                widgetUpdate();
            }, autoUpdateIntervalTime);
        }

        var dataDidFetch = function (data) {

            var json = BTCJSAPIHtmlManager.parseJsonData(data);
            if (json) {

                clearOldRecords();

                var result = json.result;

                // sort channels
                var ascending = false;
                result = sortChannelsByStoriesCount(result, ascending);

                for (var i = 0; i < result.length; i++) {
                    appendData(result[i]);
                }

                setUpSwiper();
            }
        }

        function clearOldRecords (){
            // clear old records
            targetContainer.html("");
        }

        var appendData = function (record){

            var template =templateEle.clone().attr('id','');
            fillInData(template, record);

            template.attr('id',customItemId(record.Id)).addClass(specialTileClassName);
            targetContainer.append(template);

            addRequestTrigger(template,record.Id);
            requestImageWithRecord(record);
        }

        var addRequestTrigger = function(jQObj, id) {
            interactionHelper.addTouchEvent(jQObj, function (event) {
                BTCJSAPIHtmlManager.makeRequest("btcjsapiOpenEntity?entityName="+targetEntityName+"&id=" + id);
            });
        }

        var fillInData = function(jQObj, record) {
            jQObj.find('.title').html(record.name);

            var storyCount = record.stories.length;
            var storyString = storyCount < 2? storyCount + " Story" : storyCount + " Stories";
            jQObj.find('.subtitle').html(storyString);
        }


        var customItemId = function (id) {
            return itemPrefix+id;
        }

        function requestImageWithId(itemId) {
            BTCJSAPIHtmlManager.makeRequest("btcjsapiGetEntityImage?entityName="+targetEntityName+"&id=" + itemId + "&jsListener="+widgetName+".imageDidFetch");
        }

        function requestImageWithRecord(record) {

            var recentStory = mostRecentStoryInRecord(record);

            if (recentStory !== null) {
                BTCJSAPIHtmlManager.makeRequest("btcjsapiGetEntityImage?entityName=Story&id=" + recentStory.Id + "&channelId="+record.Id+"&jsListener="+widgetName+".imageDidFetch");
            }
        }

        var sortChannelsByStoriesCount = function(channels, ascending) {
            if (channels.length == 0) return stories;

            var sortedChannels = channels;
            sortedChannels.sort(function (a, b) {
                if (a.stories.length > b.stories.length)
                    return ascending? 1 : -1;
                if (a.stories.length < b.stories.length)
                    return ascending? -1 : 1;
                // a must be equal to b
                return 0;
            });

            return sortedChannels;
        }

        function mostRecentStoryInRecord(record) {
            if (record.stories.length == 0) return null;

            // get unread
            var result = filteredStoriesByUnread(record.stories);
            var ascending = false;

            if (result.length > 0 ) {
                result = sortedStoriesByDate(result, ascending);
            } else {
                result = sortedStoriesByDate(record.stories, ascending);
            }

            return result[0];
        }

        function sortedStoriesByDate(stories, ascending) {

            if (stories.length == 0) return stories;

            var sortedStories = stories;
            sortedStories.sort(function (a, b) {
                if (a.createDate > b.createDate)
                    return ascending? 1 : -1;
                if (a.createDate < b.createDate)
                    return ascending? -1 : 1;
                // a must be equal to b
                return 0;
            });

            return sortedStories;
        }

        function filteredStoriesByUnread(stories) {

            if (stories.length == 0) return stories;

            var filteredStories = stories.filter(function(story){
                return (story.unread == 1);
            });

            return filteredStories;
        }


        function imageDidFetch(base64result, data) {

            var json = BTCJSAPIHtmlManager.parseJsonData(data);
            if (json) {

                var targetId = json.requestParameter.channelId;

                loadImage(customItemId(targetId), base64result);
            }
        }

        function loadImage (itemId, base64Data) {
            var targetObj = $('#'+itemId).find('.image');
            targetObj.attr('src', 'data:image/png;base64,' + base64Data);
        }

        return {
            startWidget:startWidget,
            dataDidFetch : dataDidFetch,
            imageDidFetch: imageDidFetch
        }
    };

    channelWidget.startWidget();

    </script>
</div>
