<div class="col-item">
    <div class="profileImageContainer">
        <img class="profileImage" src="img/profile.png"> &nbsp;
        <span class="userName textTitleColor">Welcome User!</span>
    </div>
    <script>

        var welcomeWidget = new function() {

            var widgetName = 'welcomeWidget';
            var targetEntityName = 'User';

            var startWidget = function () {
                // get user profile
                BTCJSAPIHtmlManager.makeRequest("btcjsapiGetEntity?entityName="+targetEntityName+"&id=MyProfileId&jsListener="+widgetName+".dataDidFetch");
            }

            var dataDidFetch = function (data) {

                var json = BTCJSAPIHtmlManager.parseJsonData(data);
                if (json) {
                    var result = json.result;

                    var userId = result.id;
                    var fullname = result.firstname + " " + result.surname;

                    setUserName(fullname);
                    addRequestTrigger($('.profileImageContainer'), userId);
                    requestUserProfileImageWithUserId(userId);
                }
            }

            var addRequestTrigger = function(jQObj, id) {
                interactionHelper.addTouchEvent(jQObj, function (event) {
                    BTCJSAPIHtmlManager.makeRequest("btcjsapiOpenEntity?entityName="+targetEntityName+"&id=" + id);
                });
            }

            var requestUserProfileImageWithUserId = function (userId) {
                BTCJSAPIHtmlManager.makeRequest("btcjsapiGetEntityImage?entityName="+targetEntityName+"&id=" + userId + "&jsListener="+widgetName+".imageDidFetch");
            }

            var setUserName = function(name) {
                var welcomestring = "Welcome "+name + "!";
                $('.profileImageContainer .userName').html(welcomestring);
            }

            function imageDidFetch(base64result, data) {

                var json = BTCJSAPIHtmlManager.parseJsonData(data);
                if (json) {
                    $('.profileImageContainer .profileImage').attr('src', 'data:image/png;base64,' + base64result);
                }
            }

            return {
                startWidget:startWidget,
                dataDidFetch : dataDidFetch,
                imageDidFetch: imageDidFetch
            }
        }

        welcomeWidget.startWidget();

    </script>
</div>