<div class="col-item">
    <div id="searchContainer">
        <span><input class="searchInput clearable" placeholder="Search for Content..." id="searchInput"></span>
         <span><button id="searchButton" class="searchBtn hilite">Search</button></span>
    </div>
    <script>

        var searchWidget = new function (){

            var widgetName = 'searchWidget';

            var startWidget = function () {
                // get recommended stories
                BTCJSAPIHtmlManager.makeRequest("btcjsapiGetSystemConfig?jsListener="+widgetName+".dataDidFetch");

                addRequestTrigger($('#searchButton'));
            }

            var dataDidFetch = function(data){
                var json = BTCJSAPIHtmlManager.parseJsonData(data);

                if(json) {
                    var hexColor = json.result.mainThemeHexColor;
                    changeButtonColor(hexColor);
                }
            }

            var changeButtonColor = function(hexColor) {
                $('#searchButton').css('background-color', hexColor);
            }

            var addRequestTrigger = function(jQObj) {
                interactionHelper.addTouchEvent(jQObj, function (event) {
                    searchWithKeywords($('#searchInput').val());
                });
            }

            var searchWithKeywords = function (keywords){
                var keywordString = (keywords) ? "?keywords=" + keywords : "";
                BTCJSAPIHtmlManager.makeRequest("btcjsapiSearch" + keywordString);
            }

            return {
                startWidget:startWidget,
                dataDidFetch : dataDidFetch
            }

        }

        searchWidget.startWidget();

    </script>
</div>