.searchInput {
    -webkit-appearance: none;
    border-radius: 2px;
    width: 68%;
    border: 1px solid #d3d3d3;
    font-size: 16px;
    height: 44px;
    color: black;
    -webkit-user-select: text;
    margin-right: 5px;
}

.searchBtn {
    height: 44px;

    color: white;
    background: #ffc20f;
    /*border:1px solid  #ffc20f;*/
    /*border-radius: 2px;*/
    font-size: 18px;
    padding: 0px 5px 0px 5px;
    line-height: 30px;
}

#searchContainer {
    display: table;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}


/*-- portrait --*/
@media (min-width: 992px) {
    #searchContainer {
        width: 100%;
    }

    .searchInput {
        width: 74%;
    }
}